#wikistack-sidebar {
  width: 380px;
  height: 100%;
  position: fixed;
  top: 0; right: 0;
  overflow-y: scroll;
  font-size: 0.95em;

  .blurb {
    border-bottom: 2px solid #ccc;
    h3 {
      cursor: pointer;
      margin: 0;
      padding: 5px 20px;
      background-color: #ddd;
    }
    p {
      padding: 0 20px;
      margin: 10px 0 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5; /* number of lines to show */
      -webkit-box-orient: vertical;
      &:hover {
        display: block;
      }
    }
  }
}